<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<div class="header">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div class='container'>

<div class='row' style='padding-bottom: 40px'>
	<div class='col-lg-6 col-xs-12 left-container' >
		<app-view-card-left></app-view-card-left>
	</div>

	<div class='col-lg-6 col-xs-12 right-container'>
		<app-view-card-right></app-view-card-right>
	</div>
</div>

<div class='row'>
	<div class='col-12'>
		<app-prop-input></app-prop-input>
	</div>
</div>

</div>

<app-footer></app-footer>


