<div class="{{cardClass}}">

	<div class='view-card-title'><h3> Velocity of the components </h3></div>
	<div id='velocity-time-{{cardClass}}' style="display: block;">
	</div>
	<div id='selected-info-{{cardClass}}' class="container" style="display:none;">
	<div class="row">
		<div class="col-lg-6 col-xs-12">
			<div> <h5> Selected point data: </h5> </div>
		</div>
		<div class="col-lg-6 col-xs-12">
			<div *ngFor="let data of selectedData | keyvalue">
				{{data.key}}: {{data.value}}
			</div>
		</div>
	</div>
	</div>
</div>