<footer class="section footer-classic">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h5>Found a bug? Contact me:</h5>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">masepulh@gmail.com</a></dd>
              </dl>
            </div>
            <div class="col-md-6">
              <h5>Links</h5>
              <ul>
                <li><a href="https://github.com/ASHuenchuleo/BinVis"> Github Project Page </a> </li>
                <li><a routerLink="/about">About and License</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>