<form name="attrForm" (submit)="updateViews()">

<div class='view-card-input'>

<div class='view-card-title container'>
<div class='row'>
	<div class='col-lg-6 col-xs-12' style='padding-bottom: 2%'>
		<h3> View Configuration </h3>
	</div>
	<div class='col-lg-3 col-xs-12' style='padding-bottom: 2%'>
		<button type="submit" class="btn btn-outline-success">Render with these settings</button> 
	</div>
	<div class='col-lg-3 col-xs-12' style='padding-bottom: 2%'>
	<div class='btn-group'>
		<button type="button" (click)="moveSingle($event, -1)"class="btn btn-secondary">
			<
		</button>
		<button type="button" (click)="setAnimationState($event)"class="btn btn-secondary">Pause Animation</button>
		<button type="button" (click)="moveSingle($event, 1)"class="btn btn-secondary"> > </button>
		</div>
	</div>

</div>
</div>


<div class='container'>
<div class='row'>



	<div class='col-lg-4 col-xs-12'>
	<div class="view-card-title"> <h5> Parameter Selection </h5> </div> 
		<mat-expansion-panel>
		  <mat-expansion-panel-header>
		    <mat-panel-title>
		      System A
		    </mat-panel-title>
		  </mat-expansion-panel-header>

		<app-property-input id="property-input-1"> </app-property-input>

		</mat-expansion-panel>

		<mat-expansion-panel>
		  <mat-expansion-panel-header>
		    <mat-panel-title>
		      System B
		    </mat-panel-title>
		  </mat-expansion-panel-header>

		<app-property-input id="property-input-2"> </app-property-input>

		</mat-expansion-panel>

	</div>


	<div class='col-lg-4 col-xs-12'>


	<div class="container">
		<div class="view-card-title"> <h5> View Selection </h5> </div> 
		<app-view-selection > </app-view-selection>
	</div>

	<div class="container">
		<div class="view-card-title"> <h5> Data Input </h5> </div> 
		<mat-expansion-panel>
		  <mat-expansion-panel-header>
		    <mat-panel-title>
		      System A
		    </mat-panel-title>
		  </mat-expansion-panel-header>
		<app-file-input id="data-input-1"> </app-file-input>
		</mat-expansion-panel>

		<mat-expansion-panel>
		  <mat-expansion-panel-header>
		    <mat-panel-title>
		      System B
		    </mat-panel-title>
		  </mat-expansion-panel-header>

		<app-file-input id="data-input-2"> </app-file-input>

		</mat-expansion-panel>
	</div>

	</div>

	<div class='col-lg-4 col-md-12 col-sm-12 col-xs-12'>
		<app-derived-parameters> </app-derived-parameters>
	</div>
</div>
</div>

</div>
</form>

