<form name="attrForm" (submit)="updateViews()">

<div class='view-card-input'>

<div class='view-card-title container'>
<div class='row'>
	<div class='col-lg-6 col-xs-12' style='padding-bottom: 2%'>
		<h3> View Configuration </h3>
	</div>
	<div class='col-lg-3 col-xs-12' style='padding-bottom: 2%'>
		<button type="submit" class="btn btn-outline-success">Render with these settings</button> 
	</div>
	<div class='col-lg-3 col-xs-12' style='padding-bottom: 2%'>
	<div class='btn-group'>
		<button type="button" (click)="moveSingle($event, -1)"class="btn btn-secondary">
			<
		</button>
		<button type="button" (click)="setAnimationState($event)"class="btn btn-secondary">Pause Animation</button>
		<button type="button" (click)="moveSingle($event, 1)"class="btn btn-secondary"> > </button>
		</div>
	</div>

</div>
</div>


<div class='container'>
<div class='row'>

	<div class='col-lg-4 col-xs-12'>
		<div class="view-card-title"> <h5> Parameter Selection </h5> </div> 

		<div class="parameter-group"> 
		<div *ngFor="let attr of visualAttributes" class='input-group input-group-parameter'>
				<div class='input-group-prepend'>
				<span class="input-group-text input-label" [innerHTML]="attr.name +  ' ' + attr.units"></span>
				</div> 
				<input class='input-group-text input-numeric' type="number" name='{{attr.name}}' [(ngModel)]='attr.value'> 
		</div>
	</div>
	<div class="parameter-group">
		<div *ngFor="let attr of measuredAttributes" class='input-group input-group-parameter'>
				<div class='input-group-prepend'>
				<span class="input-group-text input-label" [innerHTML]="attr.name +  ' ' + attr.units"></span>
				</div> 
				<input class='input-group-text input-numeric' type="number" name='{{attr.name}}' [(ngModel)]='attr.value'> 
		</div>
	</div>

	<div class="parameter-group">
		<div *ngFor="let attr of physicalAttributes" class='input-group input-group-parameter'>
				<div class='input-group-prepend'>
				<span class="input-group-text input-label" [innerHTML]="attr.name + ' ' +  attr.units"></span>
				</div> 
				<input class='input-group-text input-numeric' type="number" name='{{attr.name}}' [(ngModel)]='attr.value'> 

		</div>
	</div>

	</div>

	<div class='col-lg-4 col-xs-12'>


	<div class="container">
		<div class="view-card-title"> <h5> View Selection </h5> </div> 
		<div class="row view-select">
		  <div class="col">

		  	<div class="input-group mb-3">
		  	  <div class="input-group-prepend">
		  	    <span class="input-group-text">Left View</span>
		  	  </div>
		  	  <select class="browser-default custom-select" name="left-view-select"[(ngModel)]="leftView">
		  	       <option *ngFor="let c of viewOptions" [ngValue]="c">{{c.name}}</option>
		  	  </select>
		  	</div>
		  </div>
		</div>

		<div class="row view-select">
		  <div class="col">

		  	<div class="input-group mb-3">
		  	  <div class="input-group-prepend">
		  	    <span class="input-group-text">Right View</span>
		  	  </div>
		  	  <select class="browser-default custom-select" name="right-view-select"[(ngModel)]="rightView">
		  	       <option *ngFor="let c of viewOptions" [ngValue]="c">{{c.name}}</option>
		  	  </select>
		  	</div>
		  </div>
		</div>
	</div>

	<div class="container">
		<div class="view-card-title"> <h5> Data Input </h5> </div> 
		<div class="row view-select">
		  <div class="col">
		  	<div class="form-group">
		  	    <label for="file"> <h6> Choose file for astrometric measurements </h6> </label>
		  	    <label for="file">The expected format is a 3 or more column file with epoch in julian years, theta in degrees and rho in arcseconds in order. </label>
		  	    <input type="file"
		  	           id="file"
		  	           (change)="handleAstrometricDataInput($event.target.files)">

		  	</div>
		  </div>
		</div>
		<div class="row view-select">
		  <div class="col">
		  	<div class="form-group">
		  	    <label for="file"> <h6> Choose file for velocity measurements</h6> </label>
		  	    <label for="file">The expected format is a 3 or more column file with epoch in julian years, days or balessian years, the velocity in km/s and the component labeled as either 'Va' or 'Vb' in order. </label>
		  	    <input type="file"
		  	           id="file"
		  	           (change)="handleVelocityDataInput($event.target.files)">
		  	</div>
		  	<div class="input-group mb-3">
		  	  <div class="input-group-prepend">
		  	    <span class="input-group-text">Date Type</span>
		  	  </div>
		  	  <select class="browser-default custom-select" name="velocity-date-select"[(ngModel)]="dateVelocity">
		  	       <option *ngFor="let c of dateVelocityOptions" [ngValue]="c">{{c.name}}</option>
		  	  </select>
		  	</div>
		  </div>
		</div>
	</div>

	</div>

	<div class='col-lg-4 col-md-12 col-sm-12 col-xs-12'>
		<app-derived-parameters> </app-derived-parameters>
	</div>
</div>
</div>

</div>
</form>

