		<div class="row view-select">
		  <div class="col">
		  	<div class="form-group">
		  	    <label for="file"> <h6> Choose file for astrometric measurements </h6>
		  	    	<div class="help-tip">
		  	    		<p>The expected format is a 3 or more column file with epoch in julian years, theta in degrees and rho in arcseconds in order.</p>
		  	    	</div>
		  	    </label>
		  	    <input type="file"
		  	           id="file"
		  	           (change)="handleAstrometricDataInput($event.target.files)">

		  	</div>
		  </div>
		</div>
		<div class="row view-select">
		  <div class="col">
		  	<div class="form-group">
		  	    <label for="file"> <h6> Choose file for velocity measurements</h6>
		  	    <div class="help-tip">
		  	    	<p>The expected format is a 3 or more column file with epoch in julian years, days or besselian years, the velocity in the selected units and the components labeled either as 'Va', 'a', 'Vb' or 'b'.</p>
		  	    </div>
		  	</label>
		  	    <input type="file"
		  	           id="file"
		  	           (change)="handleVelocityDataInput($event.target.files)">
		  	</div>
		  	<div class="input-group mb-3">
		  	  <div class="input-group-prepend">
		  	    <span class="input-group-text">Date Type</span>
		  	  </div>
		  	  <select class="browser-default custom-select" name="velocity-date-select"[(ngModel)]="dateVelocity">
		  	       <option *ngFor="let c of dateVelocityOptions" [ngValue]="c">{{c.name}}</option>
		  	  </select>
		  	</div>
		  </div>
		</div> 