<div class="view-card-title"> <h5> Calculated Parameters </h5> </div> 
<div *ngFor="let parameters of derivedParametersArray; let i = index" class="parameter-group container">
	<h5 *ngIf="config.isHierarchical"> System {{i}} </h5>
	<div *ngFor="let par of parameters" class='row'>
			<div class='col-4 parameter-name'> <span [innerHTML]="par.name"></span> </div>
			<div class='col-4 parameter-value'> {{par.value}} </div>
			<div class='col-4 parameter-units'> <span [innerHTML]="par.units"></span>  </div>
</div>